footer.nb-footer {
    background: #222;
    border-top: 4px solid #b78c33; }
    footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; }
    footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px; }
    footer.nb-footer .about .social-media {
    margin-top: 15px; }
    footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b78c33;
    border: 1px solid rgba(255, 255, 255, 0.3); }
    footer.nb-footer .about .social-media ul li a:hover {
    background: #b78c33;
    color: #fff;
    border-color: #b78c33; }
    footer.nb-footer .footer-info-single {
    margin-top: 30px; }
    footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 5px; }
    footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0; }
    footer.nb-footer .footer-info-single ul li a:hover {
    color: #b78c33; }
    footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa; }
    footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999; }
    footer.nb-footer .copyright p {
    margin: 0;
    padding: 0; }
    .navbar-default{
        /* padding: 2% */
    }

    .fa {
        font-size: 300%;
        padding-top: 15%;
    }
body{

    overflow-x:hidden;

}
    .navbar-default {
        background-color: #333
    }
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    

.navbar {
    margin-bottom: 0px;
    border:0px;
}

.mynav{
    color: white
}

@media (min-width: 768px){

.navbar{
    border-radius:0px;
}
}

#section1, #section3{background-color: #a9a9a93b}


.navbar-default .navbar-nav>li>a{

    color: ivory
}

.navbar-default .navbar-brand{

    color: white
}

@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: 10px
}
}




p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  h1,h2{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }



.bw{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}












